body {
  background-image: -webkit-gradient(linear,  left top,  left bottom,
      color-stop(0.00, red),
      color-stop(16%, orange),
      color-stop(32%, yellow),
      color-stop(48%, green),
      color-stop(60%, blue),
      color-stop(76%, indigo),
      color-stop(1.00, violet));
}

#ui {
  display: none;
}

#menu {
  position: relative;
  width: 600px;
  height: 200px;
  margin: 0 auto;
  margin-top: 10%;
  padding: 20px;
}

.menu-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
}

.menu-text {
  position: relative;
  z-index: 2;
  font-size: 18pt;
  color: white;
  margin: 20px;
}

#menu input {
  position: relative;
  z-index: 2;
  font-size: 18pt;
  color: black;
  margin-left: 20px;
  width: 560px;
}

#menu .button {
  position: relative;
  z-index: 2;
  font-size: 18pt;
  margin: 20px;
  height: 68px;
  line-height: 68px;
  color: #333333;
  text-align: center;
  background-color: white;
  border: 2px solid white;
  display: block;
  text-decoration: none;
  cursor: pointer;
}

#menu a.button:hover {
  background-color: #FFFFCC;
  color: black;
  border: 2px solid red;
}

#menu .button-small {
  position: relative;
  z-index: 2;
  margin: 20px;
  background-color: #CCCCCC;
  color: black;
  font-size: 14pt;
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
  border: 2px solid #CCCCCC;
}

#menu .button-small:hover {
  background-color: #FFFFCC;
  color: black;
  border: 2px solid red;
}

.inline {
  display: none;
}

#roomlist {
  float: left;
  width: 22%;
}

.room-tab {
  border: 1px solid black;
  padding: 10px;
  background-color: #CCCCCC;
  color: black;
}

.room-tab.active {
  background-color: white;
  border-right: none;
}

.main {
  float: left;
  width: 67%;
  padding: 1em;
  background-color: white;
  color: black;
  border: 1px solid black;
  border-left: none;
}

#chat-window {
  height: 400px;
  width: 100%;
  background-color: #333333;
  padding: 1em;
  box-sizing: border-box;
  overflow: scroll;
}

#chat-window p {
  margin: .5em;
}

#chat-window .me {
  color: BlanchedAlmond;
}

#chat-window .them {
  color: AliceBlue
}

#chat-window a {
  color: LawnGreen;
  cursor: pointer;
  text-decoration: none;
}

#chat-window a:hover {
  color: yellow;
}

#chat-window a:visited {
  color: yellow;
}

#chat-window img {
  cursor: pointer;
}

#to {
  padding-right: 1em;
}

#to:hover {
  cursor: pointer;
}

.available-file {
  cursor: pointer;
  background-color: MidnightBlue;
  border: 1px solid white;
  border-radius: .5em;
  padding: .5em;
}

.sidebar {
  float: right;
}

#file-list {
  border: 1px solid black;
  padding: 1em;
}

#file-list .file {
  text-decoration: none;
  cursor: pointer;
}

#file-list .file:visited {
  color: black;
}

#file-list .file:hover {
  color: blue;
}

#users-list {
  border: 1px solid black;
  padding: 1em;
}

#users-list .name {
  cursor: pointer;
  padding: .25em;
}

body {
  width: 80%;
  margin: 0 auto;
  color: white;
}

#progress-list .progress-bar {
  background-color: Black;
  padding: 5px;
  width: 100%;
  position: relative;
}
#progress-list .progress-bar .chunk {
  display: inline-block;
  height: 0.5em;
  width: 0.5em;
  border: 1px solid black;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}

#progress-list .progress-bar .chunk.unrequested {
  background-color: Red;
}
#progress-list .progress-bar .chunk.requested {
  background-color: Orange;
}
#progress-list .progress-bar .chunk.queued {
  background-color: Yellow;
}
#progress-list .progress-bar .chunk.done {
  background-color: Green;
}
#progress-list .progress-text {
  color: white;
}

h1.title {
  float: right;
  font-family: "Comic Sans", "Comic Sans MS", "cursive";
}
